body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: hotpink;
  text-decoration: none;
}

a:hover {
  color: #4CAF50;
  text-shadow: 1px 1px 3px black;
}

.top-spacer {
    margin-top: 8px;
}

.panel {
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.panel-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: -7px;
}

.panel-row {
    display: flex;
    width: 100%;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #111111;
}

.panel-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #111111;
}





.header-panel {
    background-image: url("/static/img/ai_head_128.png");
    background-repeat: no-repeat;
    width: 1050px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 20px;
}

.header-title {
    display: flex;
    justify-content: flex-end;
    height: 90px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 0px;
    text-shadow: 1px 1px 5px hotpink;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
    margin-right: -6px;
    padding: 4px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    white-space: pre-wrap;
    background: linear-gradient(to right, rgba(20, 20, 20, 0), rgba(85, 85, 85, 1));
}

.footer-panel {
    width: 1050px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 4px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    padding: 4px;
    font-size: 12px;
    color: #777777;
    font-family: "Lucida Console", "Courier New", monospace;
}

.worker-panel {
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 8px;
}

.worker-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: -7px;
}

.worker-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
    color: #77BB77;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #111111;
    min-height: 70px;
}

.worker-info-header {
    width: 100%;
    font-size: 16px;
    height: 16px;
    color: #BBEEBB;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    margin-left: 4px;
}

.worker-info-header > div.small {
    font-size: 12px;
    font-weight: normal;
    padding-top: 2px;
    margin-right: 6px;
}

.worker-info-prompt {
    background-color: #111111;
    font-size: 12px;
    padding-top: 2px;
    display: flex;
    flex-grow: 1;
}

.worker-info-prompt > div.left {
    display: flex;
    flex-direction: column;
    min-width: 105px;
    padding-top: 6px;
    text-align: center;
    color: #BBEEBB;
}

.worker-info-prompt > div.left > div.clock {
    font-size: 12px;
    font-weight: bold;
}

.worker-info-prompt > div.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.worker-info-prompt > div.right > div.right-top {
    width: 100%;
    flex-grow: 1;
}

.worker-info-prompt > div.right > div.right-bottom {
    width: 100%;
    align-self: flex-end;
    text-align: right;
    margin-top: 6px;
    margin-right: 4px;
    color: #338833;
}

.buffer-panel {
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 8px;
}

.buffer-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: -7px;
}

.buffer {
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column-reverse;
    white-space: pre-wrap;
    overflow-y: scroll;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 11px;
    color: #77BB77;
    margin: 4px;
    border: 2px solid #999999;
    background-color: #222222;
}

.button {
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  transition-duration: 0.25s;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.server-row {
    display: flex;
    width: 100%;
    margin: 4px;
    padding: 4px;
    border: 1px solid #666666;
    background-color: #111111;
}

.server-status {
    width: 850px;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
    color: #77BB77;
    margin: 4px;
    padding: 4px;
}

.server-controls {
    width: 100px;
    padding-top: 10px;
}

.server-button {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
  border-radius: 4px;
  padding: 6px;
  text-align: center;
  transition-duration: 0.25s;
}

.server-button:hover {
  background-color: #4CAF50;
  color: white;
}


.prompt-status {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
    color: #77BB77;
    margin: 4px;
    padding: 4px;
}

.prompt-status-header {
    width: 100%;
    font-size: 16px;
    height: 18px;
    color: #BBEEBB;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

ul {
  list-style: none;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: -20px;
}

.image-gallery > li {
  flex: 1 1 auto;
  height: 225px;
  cursor: pointer;
  position: relative;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 98%;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 3px 3px 3px;
  background: rgba(57, 57, 57, 0.67);
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s 0.1s ease-in-out;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.image-gallery li:hover .overlay {
  transform: scale(1.00);
  opacity: 1;
}

.image-gallery img:hover {
  transform: scale(1.02);
}

/* Modal Image open/close */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  padding-left: 15px;
  max-width: 1025px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 850px;
  text-align: center;
  color: #eee;
  padding: 10px 0;
  font-size: 16px;
}

#subcaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 850px;
  text-align: center;
  color: #aaa;
  padding-bottom: 10px;
  font-size: 14px;
}

.modal-content, #caption, #subcaption {
  animation-name: zoom;
  animation-duration: 0.33s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  width: 1050px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  padding-right: 18px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #e22;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Image open/close end */

.zip-download {
  display: none;
  padding-top: 2px;
  padding-left: 2px;
}

.zip-download:hover,
.zip-download:focus {
  cursor: pointer;
  transform:scale(1.1)
}





.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro > div {
  margin: 4px;
  padding-top: 4px;
  font-size: 18px;
  display: flex;
  width: 1050px;
}

.intro > div.small {
  padding-bottom: 4px;
  margin: 4px;
  font-size: 13px;
  display: flex;
  width: 1050px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px;
  padding: 4px;
  font-size: 12px;
  color: #666699;
  font-family: "Lucida Console", "Courier New", monospace;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  background-color: #333344;
  height: 192px;
  width: 1050px;
  margin: 4px;
  padding: 2px;
}

.flex-row:hover {
  border: 2px solid #FFFFFF;
  background-color: #555566;
}

.flex-info {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.flex-info > div {
  margin: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.flex-info > div.bottom {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding-right: 25px;
  line-height: 12pt;
  font-size: 12px;
  align-content: flex-end;
  text-align: right;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #AAAACC;
}
